apiVersion: v1
kind: ConfigMap
metadata:
  name: aws-auth
  namespace: kube-system
data:
  mapRoles: |
    - rolearn: arn:aws:iam::795974654805:role/eksctl-brain-eks-nodegroup-brain-n-NodeInstanceRole-Vxmvehuk9MTq
      username: system:node:{{EC2PrivateDNSName}}
      groups:
        - system:bootstrappers
        - system:nodes

    - rolearn:arn: aws:iam::795974654805:role/project-1
      username: codebuild
      groups:
        - system:masters

